/*
    Background effect on all the pages
    To be followed the same
*/
html, body {
    background-color: #40e0d0; /* turquoise */
    background-image: linear-gradient(to right, #40e0d0, #008080); /* turquoise to teal */
    margin-left: 18px;
    margin-right: 18px;
}

.header {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 54px;
    text-align: center;
    color: teal;
}

.para {
    font-family: "Comics Sans MS", cursive;
    font-size: 27px;
    text-align: center;
    color: black;
}

.boxed-links a {
    display: inline-block;
    border: 3px solid turquoise;
    color: teal;
    padding: 9px;
    font-family: "Comics S3ans MS", cursive;
    font-size: 27px;
    text-align: center;
}

.border {
    padding: 6px;
    border-style: solid;
    border-width: 3px;
    color: teal;
}

