/*
    Buttons and link boxes
*/

.button {
    /* For Submit Button */
    border-style: outset;
    border: none;
    border-radius: 3px;
    background-color: rgb(222, 226, 226);
    color: black;
    height: 36px;
    width: 105px;
}

.boxed-links a {
    display: inline-block;
    border: 3px solid turquoise;
    color: teal;
    padding: 9px;
    font-family: "Roboto, Arial, sans-serif";
    font-size: 27px;
    text-align: center;
    /* Boxed Links */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    /* outline: 0px solid white; */
    list-style-type: none;
    transition: all 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

