/*
    Form Classes declared here
*/

.form-container {
    font-family: "Times New Roman", sans-serif;
    align-items: center;
    font-size: 21px;
    text-align: justify;
    color: rgb(18, 177, 177);
    border: 1px teal solid;
    padding: 20px;
    width: 410px;
    height: 410px;
    margin: 0 auto;
    white-space: normal;
    background-color: white;
}

.form-container textarea[type="text"] {
    width: 400px;
    margin-bottom: 9px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid black;
    text-align: justify;
    white-space: normal;
    font-size: 15px;
    margin: 3px;
}

.tall-input {
    height: 90px;
}

.short-input {
    height: 21px;
}

