/*
    Form Classes declared here
*/

.form-container {
    font-family: "Times New Roman", sans-serif;
    font-size: 21px;
    text-align: justify;
    color: teal;
    border: 2px solid teal;
    padding: 18px;
    width: 400px;
    margin: 0 auto;
    text-align: justify;
    white-space: normal;
    background-color: turquoise;
}

.form-container input[type="text"], .form-container input[type="brief"] {
    width: 90%;
    padding: 18px;
    margin-bottom: 9px;
    border: 3px solid black;
    border-radius: 3px;
}

.tall-input {
    height: 90px;
}

.short-input {
    height: 21px;
}

.button {
    border-style: outset;
    border: 3px solid teal;
    border-radius: 3px;
}